version: '3.8'

services:
  web:
    build: .
    ports:
      - "5050:5050"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
    command: python app.py
